/docker/ecpds/master/rpms/
/docker/ecpds/monitor/rpms/
/docker/ecpds/mover/rpms/
/etc/master/conf/GeoLite2-City.mmdb
/etc/monitor/htdocs/resources/maps/*.kml
/etc/monitor/htdocs/resources/maps/contacts.txt
/lib/
/target/
