#
# File master.cnf
#
# Purpose: Master-Server environment script (OpenPDS)
#
# (c) Copyright ECMWF 2003-2022 - Laurent Gougeon (syi@ecmwf.int)
#

# Setting maximum heap size for the Master-Server
export ALLOCATED_MEMORY=1G

# Exposed IP address used to bind the public services (ecpds, ftp)
export EXTERNAL_ADDRESS=`hostname`

# Dedicated to data traffic between the internal components (jmx, rmi)
export INTERNAL_ADDRESS=localhost

# Ports for the Master-Server services
export PORT_JMX=9062 # Java Management Extensions (monitoring & management)
export PORT_CALLBACK=9600 # Java Remote Method Invocation (communication between components)
export PORT_ECPDS=9640 # Dedicated service for ecpds command
export PORT_FTP=9021 # Virtual FTP Server

# Database related parameters (database interface/port should be the same as in 'database/mariadb.cnf')
export DATABASE_ALIAS=sequential://localhost/ecpds
export DATABASE_MIN_SPOOL_SIZE=5
export DATABASE_MAX_SPOOL_SIZE=50

# Define roll-over strategy for master.log
export LOG_ROLLOVER_SIZE_MAX=100MB # Maximum size the log file is allowed to reach before being rolled over
export LOG_ROLLOVER_SIZE_KEEP=20 # Maximum number of backup files to keep

# Define roll-over strategy for request.log, operator.log, event.log & splunk.log
export LOG_ROLLOVER_DATE_PATTERN=dd-MM-yyyy # Date pattern for renaming current log file after rollover
export LOG_ROLLOVER_DATE_KEEP=10d # Keep backup files which are newer than the specified duration

# Define log level
export LOG_LEVEL=warn # Possible values are error, warn, info or debug

# Interactions with various ECMWF services (smtp, opsview, nagios, ecaccess, eccmd)
export METADATA_MISSING_CONTACTS_MAIL=
export SMTP_HOST=
export SMTP_FROM=
export OPSVIEW_HOST=
export NAGIOS_HOST=
export NAGIOS_KEY=
export ECACCESS_ADDRESS=
export ECCMD_ADDRESS=
export PORT_ECCMD=640

# Miscellaneous parameters
export RETRIEVAL_MAX_SPOOL_SIZE=50 # Maximum number of parallel retrievals
