#
# Systemd startup file for the ECPDS Monitor-Server
#

[Unit]
Description=OpenPDS Monitor-Server
After=network-online.target

[Service]
Type=forking
LimitNOFILE=infinity
WorkingDirectory=/usr/local/ecpds/monitor/sh
ExecStart=/usr/local/ecpds/monitor/sh/monitor start
ExecStop=/usr/local/ecpds/monitor/sh/monitor stop
ExecReload=/usr/local/ecpds/monitor/sh/monitor restart
Restart=always

[Install]
WantedBy=multi-user.target
