#
# File monitor.cnf
#
# Purpose: Monitor-Server environment script (OpenPDS)
#
# (c) Copyright ECMWF 2003-2022 - Laurent Gougeon (syi@ecmwf.int)
#

# Setting maximum heap size for the Monitor-Server
export ALLOCATED_MEMORY=1G

# Exposed IP address used to bind the public services (http/s)
export EXTERNAL_ADDRESS=`hostname`

# Dedicated to data traffic between the internal components (jmx, rmi)
export INTERNAL_ADDRESS=localhost

# Ports for the Monitor-Server services
export PORT_JMX=8062 # Java Management Extensions (monitoring & management)
export PORT_CALLBACK=8600 # Java Remote Method Invocation (communication between components)
export PORT_HTTPS=8443 # Web monitoring interface (https)

# Connectivity to the Master-Server
export MASTER_ADDRESS=$INTERNAL_ADDRESS
export PORT_MASTER=9600

# Define roll-over strategy for monitor.log
export LOG_ROLLOVER_SIZE_MAX=100MB # Maximum size the log file is allowed to reach before being rolled over
export LOG_ROLLOVER_SIZE_KEEP=20 # Maximum number of backup files to keep

# Define log level
export LOG_LEVEL=warn # Possible values are error, warn, info or debug

# Password to unlock the 'etc/ecpds/monitor/ecpds-monitor.pfx' keystore
export KEYSTORE_PASSWORD=

# Personalization of monitoring web interface
export MONITOR_NICKNAME="PDS"
export MONITOR_TITLE="Personal Data Store"
export MONITOR_COLOR="#0079d3"

# Interactions with various ECMWF services (requirements, nagios)
export REQUIREMENTS_URL=
export NAGIOS_HOST=
export NAGIOS_KEY=

# Miscellaneous parameters
export USE_CACHE=no
export MASTER_URL_LIST=
export DEFAULT_SOURCE_HOST_ID=
