#
# Systemd startup file for the OpenPDS Mover-Server
#

[Unit]
Description=OpenPDS Mover-Server
After=network-online.target

[Service]
Type=forking
LimitNOFILE=infinity
WorkingDirectory=/usr/local/ecpds/mover/sh
ExecStart=/usr/local/ecpds/mover/sh/mover start
ExecStop=/usr/local/ecpds/mover/sh/mover stop
ExecReload=/usr/local/ecpds/mover/sh/mover restart
Restart=always

[Install]
WantedBy=multi-user.target
