#
# File mover.cnf
#
# Purpose: Mover-Server environment script (OpenPDS)
#
# (c) Copyright ECMWF 2003-2022 - Laurent Gougeon (syi@ecmwf.int)
#

# Setting maximum heap size for the Mover-Server
export ALLOCATED_MEMORY=1G

# Exposed IP address used to bind the public services (http/s, ftp, sftp, ecproxy)
export EXTERNAL_ADDRESS=`hostname`

# Dedicated to data traffic between the internal components (jmx, rmi)
export INTERNAL_ADDRESS=localhost

# Ports for the Mover-Server services
export PORT_JMX=7062 # Java Management Extensions (monitoring & management)
export PORT_CALLBACK=7600 # Java Remote Method Invocation (communication between components)
export PORT_HTTP=7080 # Web data-portal interface (http)
export PORT_HTTPS=7443 # Web data-portal interface (https)
export PORT_MQTT=7183 # MQTT interface (mqtt)
export PORT_MQTTS=7883 # MQTT interface (mqtts)
export PORT_FTP=7021 # Data-portal interface (ftp)
export PORT_SSH=7022 # Data-portal interface (sftp/scp)
export PORT_ECPROXY=7640 # Dedicated service for ecpds command

# Connectivity to the Master-Server
export MASTER_ADDRESS=$INTERNAL_ADDRESS
export PORT_MASTER=9600

# Define roll-over strategy for mover.log
export LOG_ROLLOVER_SIZE_MAX=100MB # Maximum size the log file is allowed to reach before being rolled over
export LOG_ROLLOVER_SIZE_KEEP=20 # Maximum number of backup files to keep

# Define log level
export LOG_LEVEL=warn # Possible values are error, warn, info or debug

# Password to unlock the 'etc/ecpds/mover/ecpds-mover.pfx' keystore
export KEYSTORE_PASSWORD=

# Personalisation of monitoring web interface
export MOVER_TITLE="Personal Data Store (PDS)"
export MOVER_COLOR="#0079d3"

# Interactions with various ECMWF services (nagios)
export NAGIOS_HOST=
export NAGIOS_KEY=

# Miscellaneous parameters
export OPERATION=yes # Set to 'no' to produce random data for missing files (for testing purpose only)
