//
// File ecmwf.policy
//
// Purpose: Master java policy file
//
// (c) Copyright ECMWF 2003 - Laurent Gougeon (syi@ecmwf.int)

grant {
        // Whenever a resource access is attempted, all code traversed by
        // the execution thread up to that point must have permission for
        // that resource access in this file.
        permission java.io.FilePermission "<<ALL FILES>>","read,write,delete,execute";
        permission java.util.PropertyPermission "*","read,write";
        permission java.sql.SQLPermission "*";
        permission javax.management.MBeanServerPermission "*";
        permission java.lang.RuntimePermission "*";
        permission java.security.SecurityPermission "*";
        permission java.io.SerializablePermission "*";
        permission javax.security.auth.AuthPermission "*";
        permission java.lang.reflect.ReflectPermission "*";
        permission java.net.NetPermission "*";
        permission java.net.SocketPermission "*:*","connect,accept,listen,resolve";
        permission mx4j.server.MBeanPermission "*","addListener,removeListener,getMBeanInfo,getAttribute,setAttribute,invokeOperation,newMBean,registerMBean,unregisterMBean";
        permission mx4j.server.MBeanTrustPermission "register";
};
