body { 	font-family:Arial, Helvetica, sans-serif;
	color: #000000; font-size:12pt;
	background-color: #ffffff;
}

select{	font-family:Arial,
	Helvetica, sans-serif;
	color: #000000;
	font-size:12pt;
}


pre {
        font-family:Courier, monospace;
        white-space: pre;
        color: #000000; font-size:12pt;
}

blockquote  {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12pt;
}


td {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12pt;
}


p {
	font-family:Arial, Helvetica, sans-serif;
	color: #000000; font-size:12pt;
}

h1 {	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: navy;
	padding-top: 8px;
}

h2 {  	font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background-color: #FFF1B3;
	color: #000000;
	font-size: 14pt;
; border: #FFF1B3
; font-weight: bold
; border-width: 0px 0px 0% 0%
}

h3 {  	font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background-color: #FFF1B3;
	color: #000000;
	font-size: 12pt;
; font-weight: bold
}

h4 {  
	color: navy;
font-family: Arial, Helvetica, sans-serif; font-size: 12pt;}

h5 {  
	color: navy;
font-family: Arial, Helvetica, sans-serif; font-size: 12pt;}

h6 {  
	color: navy;
font-family: Arial, Helvetica, sans-serif; font-size: 11pt;}

hr { size="1" }

li {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt}

ul {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt;}

ol {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt;}

.copyright {  font-family: Arial, Helvetica, sans-serif;
	      font-size: 11pt;
              color: navy;
}

.location {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt; 
}

.code { font-family:Courier, monospace; white-space: pre; color: #990066; font-size:12pt; }
.documentdate { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; 
color: navy; 
}
.version { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; 
color: navy; }

.author { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; 
color: navy; }
.info { 
font-family: Arial, Helvetica, sans-serif; font-size: 11pt; 
color: navy; 
}

A.topnav:link {
    FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: navy; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

A.topnav:visited {
    FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: navy; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

.topnav {
    FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: navy; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

A.topnav1:link {
	text-decoration: none;
    /* FONT-WEIGHT: bold;  */
FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

A.topnav1:visited {
	text-decoration: none;
    /* FONT-WEIGHT: bold;  */
FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

.topnav1 {
	text-decoration: none;
    /* FONT-WEIGHT: bold;  */
FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

A.search:link {
    FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

A.search:visited {
    FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

.search {
    FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

A.menuitem:link {
    FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

A.menuitem:visited {
    FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}

.menuitem {
    FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY:  Arial,
    Helvetica, sans-serif
}


.menucurrent {
    FONT-WEIGHT: bold; FONT-SIZE: 10pt; 
	COLOR: #6b8ec6;
	FONT-FAMILY:  Arial, Helvetica, sans-serif
}

.menuheading {
    FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif
             }
A.menuheading:link {
	text-decoration: none;
    FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.unnamed1 {  background-color: #FFFF00; width: 100%}
.location_nodec { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; ; text-decoration: none}

